Package: gem2deb
Version: 0.40
Architecture: amd64
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 171
Depends: debhelper (>= 11~), devscripts, gem2deb-test-runner (= 0.40), rake, ruby, ruby-all-dev (>= 1:2.5), ruby-setup, perl
Recommends: apt-file, build-essential, python3-debian
Section: ruby
Priority: optional
Description: Debian Ruby packaging suite
 gem2deb is a set of tools to create Debian package from ruby software
 distributed with Rubygems. gem2tgz converts the .gem file to a tar archive,
 then dh-make-ruby creates a Debian source package from that archive. That
 Debian package uses the included Debhelper7 helper, dh_ruby, to generate
 a proper Debian package. Both pure-ruby and native packages are supported.
