Package: gem2deb-test-runner
Source: gem2deb
Version: 0.40
Architecture: amd64
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 50
Depends: rake, ruby | ruby-interpreter, ruby-minitest, ruby-test-unit
Breaks: gem2deb (<< 0.17~)
Replaces: gem2deb (<< 0.17~)
Section: ruby
Priority: optional
Description: Debian Ruby packaging suite - tool to run tests
 gem2deb is a set of tools to create Debian package from ruby software
 distributed with Rubygems.
 .
 This package contains the tool to run the tests.
